In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel(r'C:\Users\Don.Rombaoa\Downloads\Python - Don\Telco\8.7 Logistic Regression - Telco Customer Churn - Training Dataset.xlsx', sheet_name='Telco Customer Churn')
df

,CustomerID,Gender,Partner,Dependents,Tenure,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0280-XJGEX,Male,No,No,49,Month-to-month,Direct debit,103.70,5036.3,Yes
1,6865-JZNKO,Female,No,No,30,Month-to-month,Direct debit,55.30,1530.6,No
2,7310-EGVHZ,Male,No,No,1,Month-to-month,Direct debit,20.20,20.2,No
3,3413-BMNZE,Male,No,No,1,Month-to-month,Direct debit,45.25,45.25,No
4,8168-UQWWF,Female,No,No,11,Month-to-month,Direct debit,97.85,1105.4,Yes
...,...,...,...,...,...,...,...,...,...,...
3061,4616-ULAOA,Female,Yes,Yes,65,Two year,Credit card,110.80,7245.9,No
3062,2314-TNDJQ,Female,Yes,Yes,72,Two year,Credit card,55.65,3880.05,No
3063,3454-JFUBC,Male,No,No,68,Two year,Credit card,20.00,1396,No
3064,9588-YRFHY,Male,No,No,49,Two year,Credit card,19.90,1022.6,No
3065,5130-YPIRV,Female,Yes,No,62,Two year,Credit card,72.00,4284.2,No